@page "/weather"
@using MySandbox.Aspire.MassTransit.ServiceDefaults.Messages
@attribute [StreamRendering(true)]
@rendermode InteractiveServer
@inject WeatherApiClient WeatherApi
@inject ILogger<Weather> Logger

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates showing data loaded from a backend API service.</p>

<div id="forecast-container" style="white-space: pre;">
    <p><em>Loading...</em></p>
</div>

<script src="/js/signalr/dist/browser/signalr.js"></script>
<script src="/js/Forecast.js"></script>

@code {
    protected override async Task OnInitializedAsync()
    {
        Logger.LogInformation("Requesting forecast saga...");
        await WeatherApi.StartWeatherForecastSaga();
    }
}
